<a href="https://colab.research.google.com/github/hmmnyamminji/python/blob/main/09_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 함수 선언


```
def 함수명(매개변수, parameter):
  함수 코드
```

### 함수 호출

```
함수명(인자, argument)
```

In [2]:
def calc_area(height, width):
  area = height * width
  return area

print(calc_area(5, 4))

20

In [3]:
def calc_area(height, width):
  area = height * width


print(calc_area(5, 4)) # return이 없는 경우 None 반환

None

In [5]:
def lin_eq(a, b, c = 0):
  eq = f'{a}x+ {b}y +{c} = 0'
  print eq

lin_eq(2,3,5)
lin_eq(2,3)
lin_eq(c=5, b=3, a=2)

2x + 3y + 5 = 0

SyntaxError: invalid decimal literal (ipython-input-2389144893.py, line 9)

In [4]:
def sqrt(num):
  return num ** 0.5

print(sqrt(25))

5.0

### 함수의 scope
* 전역 변수: 모듈(파일) 내에서 접근할 수 있으며 모듈 내 어디에서든지 접근할 수 있다.
* 지역 변수: 함수 내에서 정의된 변수이며, 해당 함수 내에서만 접근 할 수 있다. 해당 함수의 실행이 종료되면 더 이상 함수 안의 지역 변수에 접근할 수 없다.

In [8]:
# 파이썬에서는 같은 변수 이름이 다른 값을 가질 수 있다.
num = 41 # 전역변수
def number():
  num = 3 # 지역변수
  print(f'함수 안에서, num = {num}')

number()
print(f'global, num = {num}')

함수 안에서, num = 3
global, num = 41

### 재귀 함수 : 자기 자신을 호출하는 함수

In [9]:
def factorial(n):
  if n == 1:
    return 1
  else:
    return n * factorial(n-1)
print(factorial(3)) # 3! = 3*2*1, 1! = 1

6

### 가변 인자

*args : 순차적인 입력에 대해서 개수에 상관없이 입력을 받을 수 있다.
```
def 함수(*args):
  실행코드

```

**kwargs : 키워드 인자에 대해서 어떤 이름의 인자 입력이든 자유롭게 입력 받을 수 있다.
```
def 함수(**kwargs):
  실행코드
```

func(*args, **kwargs) : 함수 호출시 어떤 형태의 입력이든 받을 수 있다.

In [10]:
def mul(*args):
  result = 1
  for i in args: #args의 자료형은 튜플로 인자가 순서대로 들어온다
    result *= i
  return result

print(mul(3,4))
print(mul(5))
print(mul(2,2,2,2,2))

12
5
32

In [15]:
def group_by_age(**kwargs): #keyword args -> 키워드 인자..
  group = {'adult':[], 'non-adult':[]}
  for in kwargs.items(): # 딕셔너리.items()
    if age > 18:
      group['adult'] += (name)
    else:
      group['non-adult'] += (name)
  return group

print(group_by_age())
print(group_by_age(kim=25, lee=16, park=30))

SyntaxError: invalid syntax (ipython-input-756951453.py, line 3)

In [16]:
def free_arg(*args, **kwargs): #순서중요
  print(f'args = {args}') # args는 튜플
  print(f'kwargs = {kwargs}') # kwargs는 딕셔너리

free_arg()
free_arg(1,2)
free_arg(first='1st',second='2nd')
free_arg(5, first='1st')

args = ()
kwargs = {}
args = (1, 2)
kwargs = {}
args = ()
kwargs = {'first': '1st', 'second': '2nd'}
args = (5,)
kwargs = {'first': '1st'}

### 타입 힌트 (파이썬 버전3.5) : 인자를 받을 때 타입을 지정


```
def 함수(인자:타입):
  실행코드
```

In [18]:
def mul(a:int, b:int):
  return a*b

print(mul(3,4))
print(mul(3.1,2.0)) # 에러 발생하지 않는다. 타입 힌트는 실제 함수 실행에는 영향이 없다.

12
6.2

In [20]:
def sqrt_sum(nums:list)->float:
  return sum(nums) ** 0.5 # 리스트 합계 16의 루트값 반환

print(sqrt_sum([1,2,3,4,6]))

4.0

### lambda 문법 : 함수를 선언하는 문법, 한줄로 간단하게 정의되는 함수를 만들때 사용, 특정 입력 값을 고정한 새 함수를 만들때도 사용



```
lambda x, y : 리턴값
```

In [21]:
def mul(x,y):
  return x*y


print(mul(2,3))

6

In [23]:
mul = lambda x,y: x*y # 익명함수
print(mul(2,3))

6

In [25]:
nums = [5,0,-7,-10]
print(sorted(nums, key=lambda x: x**2)) # [25, 0, 49, 100]

[0, 5, -7, -10]

In [30]:
'''
def round_two(x):
  return round(x, ndigits=2)
'''

round_two = lambda x: round(x, ndigits=2)
print(round(0.123456)) #round()함수 소수점 반응함
print(round_two(0.123456)) # 소수점 둘째자리 반올림

0
0.12

In [ ]:
eq = lambda a, b, c: f'{a}'

In [ ]:
slash_join = lambda x: '/'.join(x)
print(slash_join)

### 함수의 객체화
* 함수를 변수에 대입하고 다른함수의 인자로 입력

In [31]:
def mul(a,b):
  return a*b

calculate = mul
print(calculate(3,5))

15

In [32]:
def function(fnc):
  print(f'fnc(2,3) = {fnc(2,3)}')

def mul (a,b):
  return a*b

function(mul)

fnc(2,3) = 6

In [33]:
def function():
  def new_function(a,b):
    return a*b
  return new_function

mul = function()
print(mul(2,3))

6

In [34]:
def dounble(x):
  return 2*x

def func_with_print(fnc):
  def new_func(x):
    y = fnc(x)
    print(f'y={y}')
    return y
  return new_func

double = func_with_print(dounble)
double(5)

y=10

10

### 데코레이터 decorator : 함수의 기능을 변경, 확장할 수 있는 문법
* 기존 함수의 기능은 수정하지 않고 함수 실행의 앞뒤에 미리 정의한 코드를 실행 할 수 있다.
* 원본 함수를 입력받아, 기능을 추가한 새로운 함수를 만들어 반환하는 함수


```
@데코레이터
def 함수명(인자):
  실행코드
```

In [37]:
def deco(fnc):
  def new_fnc():
    print('fnc() is called')
    return fnc()
  return new_fnc

@deco
def hi():
  print('hi')

hi()

fnc() is called
hi

In [ ]:
def deco(fnc):
  def new_fnc():
    print('fnc() is called')
    return fnc()
  return new_fnc

def hi():
  print('hi')

hi = deco(hi) # 즉, 데코레이터 함수에 인지값으로 전달되고 다시 리턴된다. 위와 동일한 동작한다.
              # hi() 함수는 놔두고 더 확장된 기능을 추가할 수 있다.

hi()

In [39]:
def func_with_print(fnc): #
  def new_func(x):
    y = fnc(x)
    print(f'y={y}')
    return y
  return new_func

@func_with_print
def diuble(x): # 원본 함수
  return 2*x

print(double(5))

10

### 클로저 closure : 함수 안 지역 변수를 함수 밖에서도 간접적으로 사용할 수 있다.

In [41]:
def function(a):
  def inner_function(b):
    return a*b
  return inner_function

double = function(2) # double = inner_function , a = 2
triple = function(3) # triple = inner_function, a = 3

print(double(10)) #inner_function(10), b = 10, 외부 함수로부터 물려받은 a와 자신이 받은 인자 b를 곱한 값을 ..
print(triple(10)) # inner_function(10), b = 10, 자기가 정의된 구역 밖에서 호출되어도, 자기를 만들어준 변수 a에 접근할 수 있다 이를 '자유 변수 (Free variable)캡처한다' 고 표현한다.

20
30

In [43]:
# 매번 똑같은 머리말(로그 레벨, 이름 등)을 붙어야 할 때 클로저를 쓰면 편리함
def make_logger(level):
  def log(message):
    print(f'{level}: {message}')
  return log

into_logger = make_logger('INFO')
error_logger = make_logger('ERROR')

into_logger('서버가 시작되었습니다.') # 클로저는 함수가 종료된 후에도 내부의 지역 변수를 기억, 값이 유지됨
into_logger('서버가 종료되었습니다.') # 전역변수 처럼 값이 유지
error_logger('데이터 베이스 연결 실패')

INFO: 서버가 시작되었습니다.
INFO: 서버가 종료되었습니다.
ERROR: 데이터 베이스 연결 실패

### 내장 함수 확장

### key 입력 사용


```
max(입력, key=함수)
max(입력, key=lambda x: x.내장함수())
```

### zip() 함수 : 둘 이상의 반복 가능한 값을 입력 받아 각각의 요소를 순서대로 묶어서 튜플 형태로 반환하는 파이선 내장 함수

### enumerate() 함수 :  여러 요소로 이루어진 값을 입력 받아 인덱스 값과 요소 값이 담긴 튜플 형태로 제공하는 파이썬 내장 함수

### isinstance() 함수 : 입력 값의 자료형을 확인할 때 사용하는 내장 함수
isinstance(값, 타입)

### all() 함수 : 인자로 받은 값의 모든 요소가 True 일 경우 True이며, 하나라도 False면 결과가 False 이다. and
### any() 함수 : 인자로 받은 값의 요소들 중 하나라도 True 일 경우 결과가 True이며, 모두 False이면 결과가 False 이다. or

### 문자열 format() 확장
* 1,000 자리마다 콤마 {:,}
* 소수점 자리 수 {:.2f}
* 숫자 길이 {:5}

### 자주 쓰이는 표현식
* " ".join() : 리스트나 튜플을 입력하여 구분 기호로 문자열을 결합
* A if B else C : 삼항 연산자, 만일 B가 True면 A, False면 C가 된다.
* 리스트 컴프리헨션 list comprehension : [C for A in B if ] , 규칙적인 값으로 이루어진 리스트를 생성, 조건식이 너무 복잡하면 가독성 저하됨

### if문 확장
* all(), any()를 사용한 if문
* short circuit evaluation : 먼저 등장한 논리식이 뒤의 논리식과 관계없이 전체 연산 결과를 결정할 경우 뒤의 논리식을 실행하지 않는다


```
if True or 조건: 결과가 이미 True임으로 뒤의 논리식은 계산하지 않는다
  실행코드
if False and 조건: 결과가 이미 False임으로 뒤의 논리식을 계산하지 않는다
  실행코드
```

### 반복문 확장
* 중첩 반복문


```
for i in A:
  실행코드1
  for j in B:
    실행코드2
```
* while문, for문 조합
* 중첩 반복문의 break, continue
* 반복문의 else : 반복문이 break를 만나지 않고 종료되면 실행된다


```
for i in A:
  실행코드1
else:
  실행코드2
```

* 시간 복잡도 : 입력의 크기에 따라 알고리즘이 실행되는 데에 필요한 시간의 양을 나타내는 개념. 빅오 표기법(Big O Notation)으로 표시,


```
O(1) 입력의 크기 n에 대해 관계없이 동일한 시간이 걸리는 복잡도 표현
O(n) 입력의 크기 n에 대해 선형적인 시간이 걸리는 복잡도 표현
O(nlogn) 입력의 크기 n에 대해 n*logn에 비례하는 시간이 걸리는 복잡도 표현 (log밑2)

O(n**2) 입력의 크기 n의 제곱에 비례하는 시간이 걸리는 복잡도 표현

O(n**3) 입력의 크기 n의 세제곱에 비례하는 시간이 걸리는 복잡도 표현
O(a**n) 입력의 크기 n에 지수적인 관계로 시간이 걸리는 복잡도 표현 (a>1)
```

### 조건식의 True / False
* 내용이 있는 문자열은 True, 빈 문자열은 False
* 숫자는 0이 아니면 True, 0 이면 False
* 리스트에 값이 하나 이상 있으면 True, 빈 리스트만 Fasle

### 리스트의 덧셈, 곱셈

### 문자열 비교 : 사전 순서로 대문자, 소문자, 숫자0-9 순이며, 아스키코드의 숫자 기준이다.