<a href="https://colab.research.google.com/github/hmmnyamminji/python/blob/main/0_6_%EB%B0%98%EB%B3%B5%EB%AC%B8_loop_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 반복문 - loop

In [1]:
words = ["apple","banana","grape"]
for item in words:
  print(item)

apple
banana
grape

In [2]:
nums = [5,4,3]
for i in nums:
  print(i*3)

15
12
9

In [3]:
for i in range(3):
  print(i)

0
1
2

In [4]:
for i in range(3):
  print(i*2)

0
2
4

In [5]:
for i in range(1,3):
  print(1*3)

3
3

In [6]:
nums = [10,20,30]
for i in range(len(nums)):
  print(nums[i])

10
20
30

In [7]:
for i in range(5):
  if i % 2 == 0:
    print(i)

0
2
4

In [8]:
words = ["ape", "monkey","gorilla"]
for w in words:
  if len(w) > 5:
    print(w)

monkey
gorilla

In [9]:
for i in range(3):
  for j in "ABC":
    print(i, j)

0 A
0 B
0 C
1 A
1 B
1 C
2 A
2 B
2 C

In [10]:
nums = [10,20,30]
for i in range(len(nums)):
  for j in range(len(nums)):
    print(nums[i] * nums[j])

100
200
300
200
400
600
300
600
900

In [12]:
i = 1
while i < 5:
  i += 2
  print(i)

3
5

In [13]:
nums = []
i=1
while sum(nums) < 20:
  nums.append(i)
  i += 1
print(nums)

[1, 2, 3, 4, 5, 6]

In [14]:
for i in range(10):
  if i == 3:
    break
  print(i)

0
1
2

In [15]:
nums = [1]
while True:
  i = sum(nums)
  nums += [i]
  if sum(nums) > 10:
    break
print(nums)

[1, 1, 2, 4, 8]

In [ ]:
for i in range(3):
  for j in range(3):
    print(j*2)
break

In [16]:
for i in range(3):
  for j in range(3):
    print(j*2)
    break

0
0
0

In [18]:
for i in range(3):
  if i == 10:
    break
  print(i)
else:
  print("no break")

0
1
2
no break