<a href="https://colab.research.google.com/github/hmmnyamminji/python/blob/main/10_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98%EC%99%80_%ED%91%9C%ED%98%84%EC%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장 함수 확장

In [5]:
nums = [1,-3,5,4]
print(max(nums))
print(min(nums))

5
-3

In [6]:
print(sorted(nums))

[-3, 1, 4, 5]

### key 입력 사용


```
max(입력, key=함수)
max(입력, key=lambda x: x.내장함수())
```

In [7]:
nums = [1,-3,5,4]
print(sorted(nums,key=abs)) #abs()함수: 절대값 반환

[1, -3, 4, 5]

In [1]:
names = ['apple','kiwi','banana']
print(sorted(names, key=len)) #len()함수: 길이로 반환

['kiwi', 'apple', 'banana']

In [2]:
names = ['BANANA','GRAPE','apple']
print(sorted(names)) # 사전 순서로 정렬, 대문자/소문자/0~9숫자
print(sorted(names, key=lambda x: x.lower())) #lower()함수: 소문자로 반환

['BANANA', 'GRAPE', 'apple']
['apple', 'BANANA', 'GRAPE']

In [8]:
nums = [[5,6],[-30,-10,-10]]
print(max(nums, key=len))
print(min(nums, key=len))

[-30, -10, -10]
[5, 6]

### zip() 함수 : 둘 이상의 반복 가능한 값을 입력 받아 각각의 요소를 순서대로 묶어서 튜플 형태로 반환하는 파이선 내장 함수

In [10]:
nums = [1,2,3]
names = ['one','two','three']
for item in zip(nums,names):
  print(item)

(1, 'one')
(2, 'two')
(3, 'three')

In [11]:
nums = [1,2,3]
names = ['one','two','three']
nums_strs = '123'
for item in zip(nums,names,nums_strs):
  print(item)

(1, 'one', '1')
(2, 'two', '2')
(3, 'three', '3')

In [12]:
nums = [1,2,3]
names = ['one','two']
for item in zip(nums,names): # 길이가 다른 경우 짧은 쪽에 맞추어 해당 길이만큼 반복
  print(item)

(1, 'one')
(2, 'two')

In [15]:
nums = [1,2,3]
names = ['one','two','three']
for i, j in zip(nums,names):
  print(f'num:{i} / nams:{j}')

num:1 / nams:one
num:2 / nams:two
num:3 / nams:three

In [16]:
names = ['kim','lee']
ages = [20,30]
for n, a in zip(names,ages):
  print(n,a)

kim 20
lee 30

### enumerate() 함수 :  여러 요소로 이루어진 값을 입력 받아 인덱스 값과 요소 값이 담긴 튜플 형태로 제공하는 파이썬 내장 함수

In [19]:
names = ['banana','grape','apple']
for item in enumerate(names):
  print(item)

(0, 'banana')
(1, 'grape')
(2, 'apple')

In [20]:
names = ['banana','grape','apple']
for i, name in enumerate(names, 1): # 1은 시작값
  print(f'{i} : {name} ')

1 : banana
2 : grape
3 : apple

In [21]:
chars = ['*','+','#','&']
for i, c in enumerate(chars, 1):
  print(c*i)

*
++
###
&&&&

### isinstance() 함수 : 입력 값의 자료형을 확인할 때 사용하는 내장 함수
isinstance(값, 타입)

In [23]:
num = 41
if isinstance(num, int):
  print(f'{num} is int')

if isinstance(num, float):
  print(f'{num} is float')

41 is int

In [24]:
num = [3,2,1]
if isinstance(num, float):
  print(f'{num} is number')

if isinstance(list, tuple):
  print(f'{num} is list or tuple')

In [25]:
args = (3,4,5)
if isinstance(args, tuple):
  print(sum(args))

if isinstance(args, (int, float)):
  print(args)

12

In [ ]:
args = 3,5
if isinstance(args, tuple):
  print(sum(args))

if isinstance(args,(int, float)):
  print()

### **all() 함수** : 인자로 받은 값의 요소들 중 하나라도 False면 결과가 False 이며, 모든 요소가 True 일 경우 True이다.  and
### **any() 함수** : 인자로 받은 값의 요소들 중 하나라도 True 일 경우 결과가 True이며, 모두 False이면 결과가 False 이다. or

In [26]:
num = 30
check_num = [num%2==0, num%3==0, num%5==0]
if all(check_num):
  print('all : and')

all : and

In [29]:
num = 8
check_num = [num%2==0, num%3==0, num%5==0]
if any(check_num):
  print('any : or')

any : or

In [30]:
print(all([True, True, False, True]))
print(all([True, True, True, True]))
print(any([False, False, False]))
print(any([True, False]))

False
True
False
True

###내장함수들

In [33]:
#chr(i): 유니코드 숫자값을 입력 받아 그 코드에 해당하는 문자를 반환
chr(72)
chr(97)
chr(44032)

'가'

In [34]:
# ord(c): 문자의 유니코드 숫자값을 반환
ord('H')
ord('a')
ord('가')

44032

In [39]:
# dir(x) : 객체의 변수나 함수를 보여주는 함수
dir('Hello') # string객체의 함수를 보여준다
dir({1,2,3}) # 리스트의 함수를 보여준다
dir({'a':1}) # 딕셔너리의 함수를 보여준다

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [40]:
# divmod(a,b) : a를 b로 나눈 몫과 나머지를 튜플로 반환
divmod(7,3)
print(7//3, 7%3)

2 1

In [43]:
# list(반복 가능한 데이터)
list('python')
list((1,2,3))

a = [1,2,3]
b = list(a)
b

[1, 2, 3]

In [44]:
# tuple(iterable) : 반복 가능한 데이터를 튜플로 바꾸어 반환하는 함수
tuple('python')
tuple([1,2,3])
tuple((1,2,3))

(1, 2, 3)

In [45]:
#str(object): 문자열 형태로 객체를 변환하여 반환하는 함수
str(3)
str('hi'.upper())

'HI'

In [46]:
# int(x): 정수로 변환, radix진수로 표현된 문자열 x를 10진수로 변환
int('3')
int(3.5)
int('11', 2) # 2진수 11
int('1A', 16) # 16진수 1A

26

In [47]:
# hex(x) : 정수값을 입력 받아 16진수 문자열로 반환
hex(26)

'0x1a'

In [48]:
# oct(x) : 정수를 8진수 문자열로 변환
oct(12345)

'0o30071'

In [49]:
# eval(표현식) : 문자열로 구성된 표현식을 입력 받아 실행 결과값을 반환
eval('1+2')
eval("'hi'+'hi'")
eval('divmod(4,3)')

(1, 1)

In [50]:
# filter(함수. 반복 가능한 데이터) : 반복 가능한 데이터의 요소 순서대로 함수를 호출했을 때 리턴값이 참인 것만 반환
list(filter(lambda x: x>0, [1,3,2,0,-5,6]))

[1, 3, 2, 6]

In [51]:
#map(함수. iterable) : 입력받은 데이터의 각 요소에 함수를 적용한 결과를 반환
list(map(lambda a: a*2, [1,2,3,4]))

[2, 4, 6, 8]

In [53]:
# id(객체) : 객체를 입력 받아 고유 주소값(레퍼런스)을 반환
a = 3
b = a
print(id(a), id(b))
a = 4
print(id(a), id(b))
print(a,b)

11654440 11654440
11654472 11654440
4 3

In [56]:
a = [1,2,3]
b = a
print(id(a), id(b))
a = [4]
print(a)
print(id(a), id(b))
print(b)

132573096700160 132573096700160
[4]
132573096516096 132573096700160
[1, 2, 3]

In [57]:
# pow(x,y) : x를 y제곱한 결과값을 반환 x**y
pow(2, 4)
pow(3, 3)
pow(25, 0.5)

5.0

### 문자열 format() 확장
* 1,000 자리마다 콤마 {:,}
* 소수점 자리 수 {:.2f}
* 숫자 길이 {:5}

In [79]:
num = 3
name = 'apple'
print('num = {}, name = {}'.format(num,name))

num = 3, name = apple

In [80]:
print(f'num = {num}, name = {name}')

num = 3, name = apple

In [81]:
num = 1/3
print('num = {}'.format(num))
print('num = {:.2f}'.format(num)) # :.2f <- 소수점 둘째자리 까지만 나옴

num = 0.3333333333333333
num = 0.33

In [82]:
num = 41
print('num={}'.format(num))
print('num={:5}'.format(num))

num=41
num=   41

In [83]:
print(f'num={num:5}')

num=   41

In [90]:
num = 41.123
print('num={:7.2f}'.format(num)) # 총길이 7, 소수점 둘째자리까지
# ✔ 숫자가 7보다 작으면 → 앞에 공백 채움
# ✔ 숫자가 7보다 크면 → 그냥 그대로 출력

num=  41.12

In [85]:
print(f'num={num:7.2f}')

num=  41.12

In [86]:
for i in range(11):
  print('{:02}'.format(i))

00
01
02
03
04
05
06
07
08
09
10

In [87]:
for i in range(11):
  print(f'{i:02}') # {:0자릿수} <- 빈공간은 0으로 채워라

00
01
02
03
04
05
06
07
08
09
10

In [88]:
num = 1234567
print('num={}'.format(num))
print('num={:,}'.format(num))

num=1234567
num=1,234,567

In [89]:
print(f'num={num:,}')

num=1,234,567

In [91]:
# 실수형의 오차
print(1.1 + 2.2)
# 십진수를 이진수를 변환 후 더하고, 다시 십진수로 변환하여 표시하는 과정에서 생기는 오차

3.3000000000000003

### 자주 쓰이는 표현식
* **" ".join()** : 리스트나 튜플을 입력하여 구분 기호로 문자열을 결합
* **A if B else C** : 삼항 연산자, 만일 B가 True면 A, False면 C가 된다.
* **리스트 컴프리헨션 list comprehension** : [C for A in B if ] , 규칙적인 값으로 이루어진 리스트를 생성, 조건식이 너무 복잡하면 가독성 저하됨

In [93]:
names = {'apple','banana','grape'}
print("~".join(names))

apple~banana~grape

In [95]:
words = ('apple','banana','grape')
print("".join(words)) # 빈 문자열

applebananagrape

In [97]:
num = 41
odd_even = 'odd' if num%2==1 else 'even' #삼항연산자
print(f'{num} is {odd_even}')

41 is odd

In [99]:
use_gpu = True
device = 'gpu' if use_gpu else 'cpu'
        #변수에 있는 값이 참이면 'gpu' 이고 거짓이면 'cpu' 저장
print(device)

gpu

In [101]:
num_string = []
for i in range(5): # 0~4
  num_string.append(str(i))
print(num_string)

['0', '1', '2', '3', '4']

In [102]:
num_strings = [str(i) for i in range(5)]
print(num_strings)

['0', '1', '2', '3', '4']

In [103]:
two_multiples = []
for i in range(10):
  if i%2==0:
    two_multiples.append(str(i))

print(two_multiples)

['0', '2', '4', '6', '8']

In [104]:
# 리스트 컴프리헨션 list comprihension : [C for A in B if]
                                #     [결과값 for 변수 in 반복대상 if 조건]
two_multiples = [str(i) for i in range(10) if i%2==0]
print(two_multiples)

['0', '2', '4', '6', '8']

str(i) ->
숫자를 문자로 바꿈

In [105]:
animals = []
for i in ['slow', 'fast']:
  for j in ['dog','cat']:
    animals.append(f'{i} {j}')
print(animals)

['slow dog', 'slow cat', 'fast dog', 'fast cat']

In [106]:
# 리스트 컴프리헨션 list comprihension : [C for A in B if]
animals = [f'{i} {j}' for i in ['slow', 'fast'] for j in ['dog','cat']]
print(animals)

['slow dog', 'slow cat', 'fast dog', 'fast cat']

In [107]:
squares = [i**2 for i in range(5)] #0~4
print(squares)

#"0부터 4까지 반복하면서 각각을 제곱해서 리스트로 만들어라"

[0, 1, 4, 9, 16]

In [108]:
even_squares = [i**2 for i in range(5) if i%2==0]
print(odd_squares)

# 0부터 4까지 반복하면서 각각을 제곱해서 리스트로 만들어라

[0, 4, 16]

### if문 확장
* **all(), any()** 를 사용한 **if문**
* **short circuit evaluation** : 먼저 등장한 논리식이 뒤의 논리식과 관계없이 전체 연산 결과를 결정할 경우 뒤의 논리식을 실행하지 않는다


```
if True or 조건 : 결과가 이미 True임으로 뒤의 논리식은 계산하지 않는다(=볼 것도 없다)
  실행코드
if False and 조건 : 결과가 이미 False임으로 뒤의 논리식을 계산하지 않는다
  실행코드
```

In [109]:
if True or 3%2 == 0:
  print('True or')

if False and 3%2 == 0:
  print('False and')

True or

In [110]:
nums = [1, -5, 3]
if nums [0]>0:
  print('positive')

positive

In [111]:
nums = []
if nums[0]>0:
  print('positive') # 빈 리스트라서 에러

IndexError: list index out of range

In [112]:
nums = []
if len(nums)>0 and nums[0]>0: # False and 임으로 뒤에 논리식이 무시된다.
  print('positive')

In [113]:
print(any([10//i > 0 for i in [3,2,1,0]]))
# 반복 대상 전체에 대해 계산하는데 리스트 마지막 숫자가 0이라서 0으로 나눌 수 없어서 에러남

ZeroDivisionError: integer division or modulo by zero

In [114]:
print(any(10//i>0 for i in [3,2,1,0]))
# 첫번째 반복 i=3에서 10//i>0이 True다.
# 이후 결과에 상관없이 any() 함수의 결과는 True가 되어 뒤의 검사를 수행하지 않는다.
#any(True)

True

In [115]:
words = ['apple', '']
for w in words:
  if w != '' and w[0] == 'a':
    print(f'word: {w}')

word: apple

### 반복문 확장
* 중첩 반복문


```
for i in A:
  실행코드1
  for j in B:
    실행코드2
```
* while문, for문 조합
* 중첩 반복문의 break, continue
* 반복문의 else : 반복문이 break를 만나지 않고 종료되면 실행된다


```
for i in A:
  실행코드1
else:
  실행코드2
```

* 시간 복잡도 : 입력의 크기에 따라 알고리즘이 실행되는 데에 필요한 시간의 양을 나타내는 개념. 빅오 표기법(Big O Notation)으로 표시,


```
O(1) 입력의 크기 n에 대해 관계없이 동일한 시간이 걸리는 복잡도 표현
O(n) 입력의 크기 n에 대해 선형적인 시간이 걸리는 복잡도 표현
O(nlogn) 입력의 크기 n에 대해 n*logn에 비례하는 시간이 걸리는 복잡도 표현 (log밑2)

O(n**2) 입력의 크기 n의 제곱에 비례하는 시간이 걸리는 복잡도 표현

O(n**3) 입력의 크기 n의 세제곱에 비례하는 시간이 걸리는 복잡도 표현
O(a**n) 입력의 크기 n에 지수적인 관계로 시간이 걸리는 복잡도 표현 (a>1)
```

In [119]:
lists = [['yesterday','today'],['one','two']]
for ls in lists:
    for item in ls:
        print(item)
# 중첩for문

yesterday
today
one
two

In [122]:
lists = []
for i in range(3): # 0,1,2
  nums = []
  while sum(nums)<10:
    num = float(input('num: '))
    nums = nums + [num]
  lists = lists + [nums]
print(lists)

num: 8
num: 3
num: 5
num: 4
num: 3
num: 9
num: 7
[[8.0, 3.0], [5.0, 4.0, 3.0], [9.0, 7.0]]

In [124]:
for i in range(10):
  for j in range(10):
    print(i, j)
    break
  # 두번째 for문의 break

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0

In [126]:
for i in range(10):
  for j in range(10):
    print(i, j)
  break
# 첫번째 for문의 break
# break의 위치에 따라 0의 출력 달라짐..?

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9

In [130]:
num1, num2 = 0, 0
for i in range(5): # 0~4까지 총 5번 반복
  num1 += 1
  for j in range(3): #0~2
    num2 +=1
  break # 첫번째 for문 break
print(num1, num2)

1 3

In [131]:
num1, num2 = 0, 0
for i in range(5): # 0,1,2,3,4
  num1 += 1
  for j in range(3): #0,1,2
    num2 +=1 # 1+1+1
    break # 두번째 for문 break
print(num1, num2)

5 5

In [132]:
sum_i = 0
for i in range(5):
  sum_i += 1
else:
  print(sum_i)

5

In [135]:
sum_i = 0
while sum_i < 5:
  sum_i += 1
else:
  print(sum_i)

5

In [136]:
nums = [1,2,3,4,5]
for n in nums:
  if n<0:
    break
  print(n)
else:
  print('no negative')

1
2
3
4
5
no negative

In [137]:
num = 0
for i in range(5):
  num += 1
  if i == 100:
    break
else:
  print(num)

5

In [138]:
num = 0
for i in range(5):
  num += 1
  if i == 1:
    break
else:
  print(num)

# break 떄문에 for문이 중간에 끝나서 출력할 수 없음

In [140]:
# 시간의 복잡도 0(n**2)
nums = [1,2,3]
multiples = []
for i in nums: #1,2,3
  for j in nums: #1,2,3
    multiples = multiples + [i*j]
print(multiples)

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [142]:
num = 41
is_prime = True # 소수이면
for i in range(2, num): # 입력 숫자에 대해 최대 n-2번 만큼의 검사를 실행하여 0(n)이다.
  if num%i == 0:
    is_prime = False
print(is_prime)

True

In [ ]:
# 시간 복잡도 줄이기
num = 41
is_prime = True #소수이면
for i in range(2, int(num**(1/2))+1):
          # ~~~.. 하지만 검사하면 반복문의 범위를 줄여 더 빠른 시간 안에 소수인지 판별할 수 있다. 시간 복잡도는 0(루트n)

### 조건식의 True / False
* 내용이 있는 문자열은 True, 빈 문자열은 False
* 숫자는 0이 아니면 True, 0 이면 False
* 리스트에 값이 하나 이상 있으면 True, 빈 리스트만 Fasle

In [143]:
if 'string':
  print('True')
if '':
  print('False')

True

In [144]:
if [1,2,3]:
  print('True')
if '':
  print('False')

True

In [145]:
if True:
  print('True')
if False:
  print('False')

True

In [147]:
num=3
if num%3:
  print('0')

if not num%3:
  print('not')

not

### 리스트의 덧셈, 곱셈

In [148]:
array = [1,2,3] + [9]
print(array)

[1, 2, 3, 9]

In [149]:
array_triple = [1,2,3] * 3
print(array_triple)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 문자열 비교 : 사전 순서로 대문자, 소문자, 숫자0-9 순이며, 아스키코드의 숫자 기준이다.

In [150]:
print('apple'>'banana')

False