<a href="https://colab.research.google.com/github/hmmnyamminji/python/blob/main/CH3_%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 내장함수

`길이 - len()`

len() 함수는 괄호 안에 입력된 값의 길이, 개수를 계산하여 결과를 내보냄

In [ ]:
print(len("name"))
print(len("number"))
print(len(["name"]))
print(len(["name","number"]))

4
6
1
2

`합 - sum()`

sum() 함수는 괄호 안에 입력된 리스트의 합을 구해 주는 함수

In [ ]:
nums1 = [1,20,300]
nums2 = [1,20.0,300]
print(sum(nums1))
print(sum(nums2))

321
321.0

`최대,최소 - max(),min()`

max()와 min() 함수는 각각 주어진 값들 중에서 가장 큰 값과 작은 값을 결과로 내보냄

In [ ]:
nums = [30,4,50,6]
print(max(nums))
print(min(nums))

50
4

In [ ]:
words = ["monkey", "ape", "gorilla"]
print(max(words))
print(min(words))

monkey
ape

`정렬 - sorted()`

sorted()함수는 정렬하는 함수

In [9]:
nums = [30, 4, 50, 6]
print(sorted(nums))
words = ["monkey","ape","gorilla"]
print(sorted(words))
print(sorted(words, reverse = True))

[4, 6, 30, 50]
['ape', 'gorilla', 'monkey']
['monkey', 'gorilla', 'ape']

### 문자열의 내장 함수
문자열의 내장 함수는 다음과 같이 온점(.)을 붙이고 함수 이름에 괄호 쌍을 붙여 사용

ex) s = "python".upper()
    
-> python 문자열에 upper() 함수를 적용한 결과를 s에 대입한다

`fortmat()`

문자열의 format() 함수는 문자열 내부의 중괄호 쌍({})을 format() 함수 입력으로 대체한 문자열을 결과로 내보냄

In [10]:
num = 41.2
print("num = {}".format(num))
print("num*2 = {}".format(num*2))
print("numnum = {}".format(str(num)*2))

num = 41.2
num*2 = 82.4
numnum = 41.241.2

In [11]:
s = "It is Python!"
print(s.upper())
print(s.lower())

IT IS PYTHON!
it is python!

In [12]:
word ="Banana"
num_word = "41.2"
print(word.upper())
print(word.lower())
print(num_word.upper())
print(num_word.lower())

BANANA
banana
41.2
41.2

`split()`

split() 함수는 문자열을 일정 기준으로 나누어 리스트에 담는다

In [13]:
formula = "x+y+z=12"
left_right = formula.split("=")
left_vars = left_right[0].split("+")
print(left_right)
print(left_vars)

['x+y+z', '12']
['x', 'y', 'z']

`append()`

리스트에 **새로운 요소를 추가하는 함수**